<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 패키지.클래스이름을 의미 -->
<mapper namespace="paypal.model.mapper.MemberMapper">
	
	
	<sql id="selectSql">
		SELECT email, name, shop_id, phone, birth, gender, address, card_type cardType, 
			card_no cardNo, card_cvc cardCVC, card_exp_date cardExpDate, regdate 
		FROM MEMBER
	</sql>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
			(email, passwd, name, address, phone, birth, gender, deleted, regdate)
		VALUES
			(#{email}, #{passwd}, #{name}, #{address}, #{phone}, #{birth}, #{gender}, 'N', NOW())		
	</insert>

 	<select id="selectMemberByEmail" parameterType="String" resultType="Member">
		<include refid="selectSql" />
		WHERE email = #{email} and deleted='N'
	</select>
		
    <delete id="deleteMemberByEmail" parameterType="String">
        UPDATE MEMBER 
        SET deleted = 'D'
        WHERE email = #{email}
	</delete>
	

<!-- 
	SQL-객체 매핑 정의
	<select id="selectMembers" 
		resultType="andromeda.dto.member.Member">
		<include refid="selectSql" />
		WHERE deleted = 'N' AND authority = 'u'
	</select>	
	

 	<select id="selectMemberByIdAndPasswdAndDeleted" 
		resultType="andromeda.dto.member.Member"		
		parameterType="HashMap">
		<include refid="selectSql" />
		WHERE member_id = #{memberId} AND password = #{passwd} AND deleted = 'N'
	</select>

	<select id="selectMemberByIdAndPasswd" 
		resultType="andromeda.dto.member.Member"
		parameterType="HashMap">
		<include refid="selectSql" />
		WHERE member_id = #{memberId} AND password = #{passwd}
	</select> 

	<select id="selectMemberByIdAndEdit"	 
		resultType="andromeda.dto.member.Member"
		parameterType="HashMap">	
	    UPDATE MEMBER 
        SET phone = #{phone}, email = #{email},  password = #{passwd}, post_no = #{postNo}, address = #{address}
        WHERE member_id = #{memberId}
    </select>
	 -->
	
		
</mapper>









