<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 패키지.클래스이름을 의미 -->
<mapper namespace="paypal.model.mapper.MemberMapper">
	
	
	<sql id="selectMember">
		SELECT email, name, phone, birth, gender, zip_code zipCode, address1, address2, address3, regdate <!-- DATE_FORMAT(regdate,'%Y-%m%-%d')  -->
			,card_type cardType, card_no cardNo, card_cvc cardCvc, card_valid_thru cardValidThru 
		FROM MEMBER
	</sql>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
			(email, passwd, name, zip_code, address1, address2, address3, phone, birth, gender, deleted, regdate)
		VALUES
			(#{ email }, #{ passwd }, #{ name }, #{ zipCode }, #{ address1 }, #{ address2 }, #{ address3 }, #{ phone }, #{ birth }, #{ gender }, 'N', NOW())		
	</insert>

 	<select id="selectMemberByEmail" parameterType="String" resultType="Member">
		<include refid="selectMember" />
		WHERE email = #{ email } and deleted='N'
	</select>
		
	<update id="updateMemberByEmail" parameterType="Member">
		UPDATE MEMBER
			<set>
				<if test="passwd != null and passwd != '' 
					and passwd != 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855'">passwd = #{ passwd }, </if>
				<if test="phone != null and phone != ''">phone = #{ phone }, </if>
				<if test="zipCode != null and zipCode != ''">zip_code = #{ zipCode }, </if>
				<if test="address2 != null and address2 != ''">address2 = #{ address2 }, </if>
				<if test="address3 != null and address3 != ''">address3 = #{ address3 }, </if>
				<if test="cardType != null and cardType != ''">card_type = #{ cardType }, </if>
				<if test="cardNo != null and cardNo != ''">card_no = #{ cardNo }, </if>
				<if test="cardCvc != null and cardCvc != ''">card_cvc =  #{ cardCvc }, </if>
				<if test="cardValidThru != null and cardValidThru != ''">card_valid_thru = #{ cardValidThru } </if>
			</set>
		WHERE email = #{ email }
	</update>
		
    <update id="deleteMemberByEmail" parameterType="String">
        UPDATE MEMBER 
        SET deleted = 'D'
        WHERE email = #{email}
	</update>
	


<!-- 로그인 관련 SQL문 -->

	<select id="selectMemberLoginData" resultType="Member" parameterType="HashMap">
		<include refid="selectMember" />
		WHERE email = #{email} AND passwd = #{passwd} AND deleted = 'N'
	</select>

		
</mapper>









