<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 패키지.클래스이름을 의미 -->
<mapper namespace="paypal.model.mapper.NoticeMapper">
	
	<!-- 공지 조회 sql문 -->
	<sql id="selectNotice">
		SELECT notice_no noticeNo, title, writer, content, read_count readCount, regdate, deleted
		FROM NOTICE
		
	</sql>
	
	<!-- 작성한 공지 데이터 DB에 Insert하기 -->
	<insert id="insertNotice">
		INSERT INTO NOTICE
			(title, writer, content, deleted)
		VALUES
			(#{ title }, #{ writer }, #{ content }, 'N')
	
	</insert>

 	<!-- 공지 목록 조회 -->
 	<select id="selectNoticeList" parameterType="String" resultType="Notice">
		<include refid="selectNotice" />
		WHERE deleted='N'
		ORDER BY notice_no DESC
	</select>
	
	<!-- 공지 번호로 공지 조회 -->
	<select id="selectNoticeByNo" parameterType="String" resultType="Notice">
		<include refid="selectNotice" />
		WHERE notice_no = #{ noticeNo } and  deleted='N'
	</select>
	
	<!-- 공지 수정하기 -->
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET title = #{ title }, content = #{content}
		WHERE notice_no = #{ noticeNo }
	</update>

	
	<!-- 공지 삭제하기(deleted 컬럼에 'D' flag 주기 -->
	<update id="deleteNotice">
		UPDATE NOTICE
		SET deleted='D'
		WHERE notice_no = #{ noticeNo }
	</update>
	
</mapper>









